DATABASE_URL=
REDIS_URL=
MEILISEARCH_HOST=
MEILISEARCH_API_KEY=
JWT_SECRET=
ENCRYPTION_KEY=

# BullMQ Dashboard
BULLMQ_DASHBOARD_USERNAME=
BULLMQ_DASHBOARD_PASSWORD=

# Web Push VAPID Keys
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=

# Google Oauth Client
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# App Settings
NEXT_PUBLIC_APP_URL=
